<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.2" targetFramework="net462" />
  <package id="AWSSDK.CertificateManager" version="3.7.200.9" targetFramework="net462" />
  <package id="AWSSDK.Core" version="3.7.200.9" targetFramework="net462" />
  <package id="AWSSDK.SecretsManager" version="3.7.102.54" targetFramework="net462" />
  <package id="AWSSDK.SecretsManager.Caching" version="1.0.6" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Memory" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>